<body>
    <h1>Route::{{ title }}</h1>
    <table>
        <tr><th>year</th>   <td>{{ year }}</td></tr>
        <tr><th>month</th>   <td>{{ month }}</td></tr>
        <tr><th>filename</th>   <td>{{ filename }}</td></tr>
        <tr><th>ext</th>   <td>{{ ext }}</td></tr>
    </table>
    {{ dump(year, month, filename, ext) }}{#  sont-ce des chaines . #}
</body>